---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
---

<MainLayout>
	<main>
		<div>
			<Card title="Titulo">
				<p>Conteudo</p>
			</Card>
			<Card title="Titulo1">
				<p>Conteudo</p>
			</Card>
			<Card title="Titulo2">
				<p>Conteudo</p>
			</Card>
			<Card title="Titulo3">
				<p>Conteudo</p>
			</Card>
		</div>
	</main>
</MainLayout>

